::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}

::selection {
    color: #ffffff;
    background: #0971fe !important;
}
.padding-5{
    padding: 5px;
}
.no-spacing{
    letter-spacing: normal !important;
}
.swal2-container {
    z-index: 2001;
}
.overflow-auto{
    overflow: auto;
}
.vue-modal-content{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* margin: 0 1rem; */
    /* padding: 1rem; */
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    background: #fff;
    min-width: 600px;
    max-height: 550px;

}
.modal-body{
    max-height: 550px;
    overflow: auto;
}
.show{
    display: block;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.invoice-bills td{
    font-size: .9rem;
}
.icpSvg{
    margin-top: -2px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
@media (max-width: 767px){
    .nk-footer-wrap{
        display: block;
        text-align: center;
    }
}
.vs__actions svg{
    height: auto;
    max-width: none;
}
.vs__selected{
    font-size: 13px;
}
